.cards {
  height: 90%;
/* background-color: red; */
}
.cards .container {
  height: 100%;
  width: 95%;
  display: flex;
  gap: 10px;
  /* flex-wrap: wrap; */
}
.card {
  border-radius: 8px;
  width: 170px;
  height: 280px;
  display: flex;
  gap: 5px;
  padding: 5px;
  color: azure;
  align-items: center;
  flex-direction: column;
  background-color: #313743;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.336);
}
.card .img {
  height: 300px;
  background-color: azure;
  border-radius: 5px;
  cursor: pointer;
}
.card img {
  width: 30%;
  height: auto;
  width: 90%;
}
h5 {
  width: 100%;
}

.product {
  width: 100%;
  height: calc(100% - 10px);
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.text {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: space-between;
  flex-direction: column;
  text-align: start;
}
.text :last-child {
  align-self: center;
}
.btn-add-product {
  width: 90%;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #2e3139;
  box-shadow: 2px 2px 3px #0707073e;
  gap: 10px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.anton {
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
}
.saira {
  font-family: "Saira", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.russo {
  font-family: "Russo One", serif;
  font-weight: 400;
  font-style: normal;
}