.card-section{
    width: max(70%,600px);
    height: 80%;
    border-radius: 8px;
    /* background-color: red; */
    gap: 20px;
    display: flex;
}

.card-section .img{
    width: 50%;
    border-radius: 5px;
    height: 70%;
    background-color: azure;
}
.card-section > :first-child img{
    width: auto;
    height: 60%;
}
.details{
    width: 50%;
    gap: 5px;
    flex-direction: column;
    align-items: start !important;
}
.details h1{
    font-size: 30px;
}
.details p,.details h5{
    width: 100%;
    text-align: start;
}
.card-section .container{
    width: 100%;
    /* background-color: azure; */
    height: 40px;
    gap: 25px;
    display: flex;
    align-items: center;
}
.btns-inc-dec{
    gap: 10px;
    /* background-color: aliceblue; */
    height: 100%;
}
.btns-inc-dec .btn{
    width: 30px;
    height: 30px;
    background-color: #2e3139;
    border-radius: 5px;
    cursor: pointer;
}
.add-to-cart{
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    padding: 2px 15px;
    background-color: #2e3139;
}
.is-disabled{
    background-color: #4c5160ae;
}
.details p{
    font-size: 10px;
    font-weight: 600;
}
.anton {
    font-family: "Anton SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  .saira {
    font-family: "Saira", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
  .russo {
    font-family: "Russo One", serif;
    font-weight: 400;
    font-style: normal;
  }
  