* {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  /* background-color: #353d4d; */
  background: linear-gradient(120deg, #16222a, #3a6073);
  height: 100vh;
  color: azure;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.App.is-clicked{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ----------- Categories ----------- */
section.home {
  height: 70%;
  width: 90%;
  flex-direction: column;
  gap: 25px;
}
.categories {
  width: 80%;
}
.categories .btns {
  width: 100%;
  gap: 20px;
  font-family: "Russo One", serif;
  font-weight: 400;
  font-style: normal;
}
.categories .btns > * {
  background: linear-gradient(-120deg, #485563, #29323c);
  width: 20%;
  height: 35px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transform-origin: left;
  box-shadow: 4px 4px 10px rgba(32, 31, 31, 0.536);
}
/* ----------- Products ----------- */
/* ----------- Page Btn ----------- */
.btns-pages {
  /* background-color: red; */
  gap: 10px;
}
.btns-pages > * {
  background-color: #29323c;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #16222a;
  cursor: pointer;
  transition: all .5s linear;
}
.is-clicked {
  background-color: #16222a;
}
/* ------------- Alert ------------- */
.alert {
  width: 100%;
  height: 8%;
  background-color: tomato;
  color: azure;
  font-family: monospace;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.anton {
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
}
.saira {
  font-family: "Saira", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.russo {
  font-family: "Russo One", serif;
  font-weight: 400;
  font-style: normal;
}
